include LICENSE
include README.md
include CHANGELOG.md
include env.example
recursive-include src *.py
recursive-include tests *.py
recursive-include examples *.py *.md
recursive-include examples/basic env.example
global-exclude __pycache__
global-exclude *.py[cod]

